/* styles.css */

/* Pengaturan font dan latar belakang halaman */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #fff; /* Warna latar belakang */
    margin: 0;
    padding: 0;
    color: #333; /* Warna teks */
  }
  
  /* Pengaturan tampilan navbar */
  .navbar {
    background-color: #fff; /* Warna latar belakang */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* Bayangan di bawah navbar */
  }
  
  /* Pengaturan tampilan merk navbar */
  .navbar-brand {
    font-weight: bold;
    color: #333; /* Warna teks */
  }
  
  /* Pengaturan tampilan jumbotron (header) */
  .jumbotron {
    background-size: cover;
    background-position: center bottom; /* Gambar di-posisikan di tengah bawah */
    background-color: #fff;
    color: purple; /* Warna teks */
    padding: 80px 0; /* Padding atas dan bawah */
    text-align: center; /* Teks di-posisikan di tengah */
  }
  
  /* Stil untuk judul dalam jumbotron */
  .jumbotron h1 {
    font-size: 2.5rem; /* Ukuran font diatur lebih kecil */
    margin-bottom: 15px;
    padding: 20px;
    color: #000;
  }
  .jumbotron h4 {
    font-size: 1rem; /* Ukuran font diatur lebih kecil */
    margin-bottom: 15px;
    color: purple;
  }
  /* Pengaturan tampilan gambar dalam jumbotron */
  .jumbotron img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Stil tambahan untuk perangkat seluler dengan lebar < 576px */
  @media (max-width: 575.98px) {
    .jumbotron {
      padding: 60px 0; /* Ubah padding atas dan bawah */
    }
    
    .jumbotron h1 {
      font-size: 2rem; /* Ukuran font diatur lebih kecil */
    }
  }
  
  /* Pengaturan padding kontainer */
  .container {
    padding: 20px;
    background-color: #fff;
  }
  
  .container h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  /* Pengaturan gambar responsif */
  .img-fluid {
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
  .col-md-6 img {
    max-width: 100%;
    height: auto;
    width: 300px; /* Ganti dengan lebar yang Anda inginkan */
    border: 4px solid #333;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  /* Pengaturan latar belakang */
  .bg-light {
    background-color: #fff; /* Warna latar belakang */
  }
  
  /* Pengaturan tampilan portofolio */
  .portfolio-item {
    margin-bottom: 20px; /* Margin antar item portofolio */
    background-color: #fff; /* Warna latar belakang item portofolio */
    border-radius: 10px; /* Border radius untuk tampilan kotak */
  }
  
  .portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Border radius untuk gambar */
  }
  
  .square-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* Pengaturan daftar informasi kontak */
  .contact-info {
    list-style: none;
    padding: 0;
  }
  
  .contact-info li {
    margin-bottom: 15px;
  }
  
  .contact-info a {
    color: #333; /* Warna teks */
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .contact-info a:hover {
    color: #007bff; /* Warna teks saat tautan dihover */
  }
  
  .contact-info i {
    margin-right: 10px;
    font-size: 20px;
  }
  
  /* Pengaturan footer */
  footer {
    background-color: #343a40; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    padding: 20px 0;
  }
  
  footer p {
    margin: 0;
  }
  @media (max-width: 575.98px) {
    footer {
      padding: 30px 0;
    }
  }
  
  /* Animasi tambahan untuk judul dan tombol */
  .animate-heading {
    animation: fadeInUp 1s ease-out;
  }
  
  .animate-btn {
    animation: fadeIn 1s ease-out;
  }
  
  @keyframes fadeInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  
